@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);

html, body,
img, table,
div, p, h1, h2,
h3, h4, h5,
button
{
  margin: 0;
  padding: 0;
  border: 0;
}

#content {
  width: 600px;
  position: relative;
  left: 50%;
  margin-left: -313px;

  border-radius: 15px;
  border: 1px solid black;

  padding: 12px;

  background-color: #f0f0f0;

  font-family: Arial;
  font-size: 14px;

  margin-top: 10px;
  margin-bottom: 10px;

  box-shadow: 4px 4px 25px #333;
}

audio {
  width: 310px;
}

@font-face {
  font-family: Muriel;
  src: url("muriel.ttf"),
       url("http://www.darshancomputing.com/JosiahIsrael/muriel.ttf");
}

@font-face {
  font-family: lcd;
  src: url("lcd.ttf"),
       url("http://www.darshancomputing.com/JosiahIsrael/lcd.ttf");
}


h1 {
  text-align: center;
  margin-bottom: 15px;
  font-family: Muriel;
  font-size: 48px;
  font-weight: normal;
}

#player-area {
  width: 420px;
  position: relative;
  left: 50%;
  margin-left: -220px;

  padding: 5px;

  /*background-color: #e0e0e0;*/

  /*background: -webkit-linear-gradient(bottom, #accce3, #f0f5f9);
  background:    -moz-linear-gradient(bottom, #accce3, #f0f5f9);
  background:         linear-gradient(bottom, #accce3, #f0f5f9);*/

  background: -webkit-linear-gradient(top, #333, #777);
  background:    -moz-linear-gradient(top, #333, #777);
  background:         linear-gradient(top, #333, #777);

  border-radius: 15px;
  border: 1px solid #222;

  margin-bottom: 20px;

  text-align: center;

  box-shadow: 3px 3px 10px #333;
}

#badge {
  width: 200px;
  height: 127px;
  /*float: right;

  margin-right: 15px;
  margin-bottom: 15px;*/

  position: relative;
  left: 50%;
  margin-left: 90px;
  margin-top: -25px;
  margin-bottom: 10px;

  display: none;
}

#curTrackTime {
  width: 250px;
  position: relative;
  left: 50%;
  margin-left: -125px;

  font-size: 30px;
  font-family: lcd;
  color: #ccc;
  background: #333;
  text-align: center;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 5px;
  border: 1px solid #bbb;
  box-shadow: 0px 0px 10px #333;
}

#curTrackName {
  font-family: 'Open Sans';
  font-weight: 700;
  color: #449;
  color: #227;
  color: #54c;
  color: #47C3F7;
  color: #4fcbff;
  font-size: 18px;
  text-shadow: 1px 1px 18px #bbb;
  margin-bottom: 10px;
}

.songname {
  font-weight: 700;
  cursor: pointer;
  padding: .25em;
}

.songname:hover {
/*  background-color: #90c0fa;
  color: #2625C9;
  background-color: #F8F6C5;*/
  /*background-color: #C8DDFF;*/
  color: #444;
  color: #2525C9;
  /*color: #4fcbff;*/
  text-shadow: 1px 1px 12px #555;

  border-radius: .35em;
  /*outline: 1px solid black;*/
}

html {
  background-color: #ccc;
  background-color: #90c0fa;
  background-color: #C8DCFF;
  /*background: -webkit-linear-gradient(top, #8593aa, #c8dcff);
  background:    -moz-linear-gradient(top, #333, #777);
  background:         linear-gradient(top, #333, #777);*/

  background: #8593aa;

  overflow-y: scroll; /* Simplest way to avoid shake when css-auto-scrolling from bottom. */
}

p {
  margin: 0px 30px 15px 30px;
}

p#intro {
  margin: 35px 15px 20px 15px;
  padding: 15px 25px 15px 25px;
  text-align: justify;
  font-family: Arial;
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 140%;
  background: #ffffdd;
  background: #f8f6c5;
  background: #daeef2;
  border-radius: 8px;
  box-shadow: 1px 1px 5px #333;
  display: none;
}

.song-info p {
  /*margin-bottom: 12px;*/
}

.song-info p:first-child {
  margin-bottom: 10px;
  margin-left: 10px;
}

.song-info {
  margin-bottom: 24px;
}

#controls {
  height: 45px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#controls>button{
  display: inline-block;
  vertical-align: middle;

  margin-left: 16px;
  margin-right: 16px;
  padding: 5px;
  cursor: pointer;

  /*background-color: #eee;*/

  border: 1px solid #bbb;

  box-shadow: 1px 1px 1px black;

  background: -webkit-linear-gradient(bottom, #999, #fff);
  background:    -moz-linear-gradient(bottom, #999, #fff);
  background:         linear-gradient(bottom, #999, #fff);
}

#controls>button:hover {
  background: -webkit-linear-gradient(bottom, #ddd, #fff);
  background:    -moz-linear-gradient(bottom, #ddd, #fff);
  background:         linear-gradient(bottom, #ddd, #fff);
}

#controls>button:active {
  margin-left: 17px;
  margin-right: 15px;
  margin-top: 1px;
  margin-bottom: -1px;
  box-shadow: -1px -1px 1px black;
}

#controls #play {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

#controls .seek {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 22px;
  border-radius: 40%;
}

#controls .skip {
  width: 60px;
  height: 30px;
  border-radius: 30%;
}

#controls>#play>span.triangle {
  margin-top: 3px;
  margin-left: 7px;

  display: inline-block;

  width: 0;
  height: 0;
  border-top   : 15px solid transparent;
  border-bottom: 15px solid transparent;

  border-left : 23px solid #222;
}

#controls>#play>span.triangle.disabled {
  border-left : 23px solid #777;
}

#controls>#play>span.bars {
  display: inline-block;
  margin-left: 0px;
  margin-top: 6px;

  width: 9px;
  height: 26px;
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-left: 8px solid #222;
  border-right: 8px solid #222;
}

#controls>.seek>span.triangle {
  display: inline-block;
  vertical-align: middle;

  margin-top: -8px;

  width: 0;
  height: 0;
  border-top   : 6px solid transparent;
  border-bottom: 6px solid transparent;
}

#controls>.seek.right>span.triangle {
  border-left : 10px solid black;
  margin-left: 1px;
}

#controls>.seek.left>span.triangle {
  border-right : 10px solid black;
  margin-right: 1px;
}

#controls>.skip>span.triangle {
  display: inline-block;
  margin-bottom: 3px;

  width: 0;
  height: 0;
  border-top   : 8px solid transparent;
  border-bottom: 8px solid transparent;
}

#controls>.skip>span.bar {
  display: inline-block;
  margin-bottom: 3px;

  width: 0px;
  height: 17px;
  border-left: 5px solid black;
}

#controls>.skip.right>span.triangle {
  border-left: 16px solid black;
  margin-left: 2px;
}

#controls>.skip.left>span.triangle {
  border-right : 16px solid #222;
  margin-right: 2px;
}

#controls>.skip.left.disabled>span.triangle {
  border-right-color: #333;
}

#copyright {
  margin-bottom: 10px;

  width: 600px;
  position: relative;
  left: 50%;
  margin-left: -310px;
}

hr {
  width: 75%;
  margin-top: 20px;
  margin-bottom: 5px;
}

#song-list :first-child {
  margin-top: 15px;
}
